.fs-7 {
  font-size: 0.875rem !important;
}

.transition-all-linear {
  transition: all 0.2s linear;
}

.w-fit-content {
  width: fit-content;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}