.offcanvas-backdrop-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.offcanvas-panel-custom {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
}

.offcanvas-end-custom {
  right: 0;
  width: 400px;
  border-left: 1px solid rgba(0, 0, 0, 0.175);
}

.offcanvas-start-custom {
  left: 0;
  width: 400px;
  border-right: 1px solid rgba(0, 0, 0, 0.175);
}

.offcanvas-header-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
}

.offcanvas-title-custom {
  margin-bottom: 0;
  line-height: 1.5;
  font-weight: 500;
}

.offcanvas-body-custom {
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow-y: auto;
}

@media (max-width: 576px) {

  .offcanvas-end-custom,
  .offcanvas-start-custom {
    width: 100%;
  }
}