.product-card-placeholder {
  overflow: hidden;
}

.placeholder-img {
  min-height: 200px;
}

.product-card-placeholder .card-body {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.product-card-placeholder .placeholder-categories,
.product-card-placeholder .placeholder-desc,
.product-card-placeholder .placeholder-rating,
.product-details-placeholder .placeholder-brand,
.product-details-placeholder .placeholder-categories {
  min-height: 20px;
}

.product-card-placeholder .placeholder-title,
.product-card-placeholder .placeholder-price,
.product-details-placeholder .placeholder-ratings,
.product-details-placeholder .placeholder-desc,
.recommended-products-placeholder .placeholder-title {
  min-height: 22px;
}

.product-card-placeholder .placeholder-button,
.product-card-placeholder .placeholder-discount {
  min-height: 26px;
}

.placeholder-carousel {
  min-height: 370px;
}

.breadcrumb-placeholder .placeholder {
  min-height: 18px;
}

.product-details-placeholder .placeholder-title,
.product-details-placeholder .placeholder-price,
.product-details-placeholder .placeholder-button {
  min-height: 30px;
}

.product-details-placeholder .placeholder-tab {
  min-height: 36px;
}

.product-details-placeholder .placeholder-info {
  min-height: 100px;
}