.product-carousel-container,
.product-carousel-container .product-carousel-img {
  height: 360px;
  transition: height 0.35s cubic-bezier(0.12, 0, 0.39, 0);
}

@media (width >= 491px) {
  .product-carousel-container {
    height: 460px;
  }
}