.product-card {
  overflow: hidden;
}

.product-card .card-img-top {
  height: 200px;
}

.product-card .card-body {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.product-card .discount-percentage {
  top: 15px;
  left: 15px;
}